@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// --------------- animations --------------- 

@keyframes rightOpen {
    from {
        right: -16em;
    }
    to {
        right: 1.5vh;
    }
}

@keyframes linksOpen {
    from {
        left: -16em;
    }
    to {
        left: 1.5vh;
    }
}

@keyframes restoOpen {
    from {
        bottom: -6em;
    }
    to {
        bottom: 1.5vh;
    }
}

// --------------- Shorters --------------- 

$bg-gradient: linear-gradient(225deg, #b300ff 0%, #00dade8c 50%, #b300ff 100%);
$bg-gradient-alt: linear-gradient(225deg, #d700dbaf 0%, #00aeb12f 50%, #d700dbaf 100%);
$box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.404);
$hover-shadow: 0.2em 0.2em 0.7em rgba(0, 0, 0, 0.6);
$white-translucent: rgba(255, 255, 255, 0.4);
$white-semi-translucent: rgba(255, 255, 255, 0.2);
$font-dancing: 'Dancing Script', cursive;
$font-montserrat: 'Montserrat', sans-serif;

// --------------- Code --------------- 

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexBody,
.body {
    overflow: hidden;
}

.body {
    @include flex-center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #00DBDE;
    background-image: $bg-gradient;

    

    .kiwiIndex {
        height: 35vh;
    }

    h1{
        font-family: "Dancing Script", cursive;
        font-size: 5vw;
        font-weight: 800;
        font-optical-sizing: auto;
        font-style: normal;
    }
}